<app-sidebar></app-sidebar>
<div class="border-bottom pt-5 pb-2 mt-lg-2 mb-5">
    <h1 class="mt-3 mt-md-4 pt-5">Adminintrador de páginas web</h1>

    <div class="card box-shadow-sm text-center">
        <div class="card-header">
          <h5 style="margin-bottom: 0px;">Seleccione una de las empresas para realizar el mantenimiento</h5>
      </div>
        <div class="card-body">
              <div class="row">
                <div class="col-md-4 form-group" >
                   <a [routerLink]="['/panel/imagenes']" routerLinkActive="active"> <img src="../../../assets/img/components/logo/las_lomas.svg" alt="Imagen" width="200" height="200">
                   </a>  
                </div>
              
                <div class="col-md-4 form-group" >
                     <img src="../../../assets/img/components/logo/logo_britanico.svg" alt="Imagen" width="200" height="200">
                </div>
             
                <div class="col-md-4 form-group" >
                     <img src="../../../assets/img/components/logo/logo_britanico_san_lorenzo.svg" alt="Imagen" width="200" height="200">
                </div>
              </div>
        </div>
      </div>
</div>
